@keyframes slide {
	from {background-position: 0% 0%}
	to {background-position: 60px 0%}
}

@keyframes loadlink {
	0% {background-image: linear-gradient(to top, var(--palette-accent) 0%, transparent 0%)}
	10% {background-image: linear-gradient(to top, var(--palette-accent) 10%, transparent 10%)}
	20% {background-image: linear-gradient(to top, var(--palette-accent) 20%, transparent 20%)}
	30% {background-image: linear-gradient(to top, var(--palette-accent) 30%, transparent 30%)}
	40% {background-image: linear-gradient(to top, var(--palette-accent) 40%, transparent 40%)}
	50% {background-image: linear-gradient(to top, var(--palette-accent) 50%, transparent 50%)}
	60% {background-image: linear-gradient(to top, var(--palette-accent) 60%, transparent 60%)}
	70% {background-image: linear-gradient(to top, var(--palette-accent) 70%, transparent 70%)}
	80% {background-image: linear-gradient(to top, var(--palette-accent) 80%, transparent 80%)}
	90% {background-image: linear-gradient(to top, var(--palette-accent) 90%, transparent 90%)}
	100% {background-image: linear-gradient(to top, var(--palette-accent) 100%, transparent 100%)}
}

@keyframes bounce {
	from {transform: translateY(-10%)}
	to {transform: translateY(10%)}
}
