@import "animations.css";

body {
	padding: 0 1em;
	margin: 2em auto;
	font-size: 1.2em;
	max-width: 800px;
	color: var(--palette-txt);
	font-family: var(--font-boring), Times;
	background-color: var(--palette-bg);
}

main {
	overflow: hidden;
}

h1, h2, h3 {
	font-family: var(--font-cool);
	color: var(--palette-accent);
}

p {
	margin: 0;
}
p + p {
	margin-top: 1em;
}
main p:not([class]):first-of-type::first-letter,
main div.paragraph:first-of-type::first-letter,
main div.paragraph > div:first-of-type::first-letter {
	float: left;
	padding: 10px;
	font-size: 3em;
	line-height: 1em;
	border: 2px dashed;
	margin-right: 10px;
	font-family: var(--font-cool), Helvetica, sans-serif;
}
p.note {
	text-align: center;
	opacity: .6;
	font-size: .75em;
}

a {
	text-decoration: none
}
a:not([class]) {
	font-weight: bold;
	color: var(--palette-accent);
	border-bottom: 2px solid var(--palette-accent);
	transition: .2s color;
}
a:hover:not([class]) {
	color: var(--palette-bg);
	animation: loadlink .2s forwards;
}

a#back {
	margin-bottom: 1em;
	display: inline-block;
}
a#back:before {
	content: "← "
}

img.right {
	float: right;
	max-width: 40%;
	margin-left: 1em;
	border-radius: 1em;
}

hr {
	margin: 3em;
	opacity: .4;
	height: 30px;
	border: none;
	animation: 3s slide infinite linear;
	background-image: url(/img/assets/hr-tile.bmp);
}
hr:nth-of-type(even) {
	animation: 3s slide infinite linear reverse;
}
