@import "animations.css";

div.wave {
	margin: 2em 0;
	text-align: center;
}
div.wave > a {
	padding: .5em 1.5em;
	border-radius: .2em;
	display: inline-block;
	color: var(--palette-bg);
	transform: translateY(-10%);
	background-color: var(--palette-accent);
	animation: bounce 1s alternate infinite ease;
}
div.wave > a:hover {
	box-shadow: 5px 5px 0 black;
}

div.wave > a:nth-child(1n) {animation-delay: .1s}
div.wave > a:nth-child(2n) {animation-delay: .2s}
div.wave > a:nth-child(3n) {animation-delay: .3s}
div.wave > a:nth-child(4n) {animation-delay: .4s}
div.wave > a:nth-child(5n) {animation-delay: .5s}
div.wave > a:nth-child(6n) {animation-delay: .6s}
div.wave > a:nth-child(7n) {animation-delay: .7s}
div.wave > a:nth-child(8n) {animation-delay: .8s}
div.wave > a:nth-child(9n) {animation-delay: .9s}

td {
	vertical-align: top;
	padding-bottom: 1em;
}
td:first-child {
	text-align: right;
	color: var(--palette-accent);
}
