main {
	text-align: center;
}

fieldset {
	border-color: var(--palette-accent);
	text-align: center;
}
fieldset:nth-of-type(even) {
	margin-left: 2em;
}
fieldset:nth-of-type(odd) {
	margin-right: 2em;
}
fieldset:first-of-type {
	margin-top: 3em;
}
fieldset:last-of-type {
	margin-bottom: 3em;
}
legend {
	color: var(--palette-accent);
}

input[type=text], input[type=password] {
	border: none;
	font-size: 1.5em;
	color: var(--palette-accent);
	font-family: var(--font-cool);
	background-color: transparent;
	border-bottom: 3px solid var(--palette-accent);
}

input[type=submit] {
	margin: 1em;
	border: none;
	padding: 1em;
	cursor: pointer;
	color: var(--palette-bg);
	background-color: var(--palette-accent);
}
input[type=submit]:hover {
	box-shadow: 5px 5px 0 black;
}

textarea {
	width: 90%;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}
th {
	color: var(--palette-bg);
	background-color: var(--palette-accent);
	position: sticky;
	top: 0; 
}
th, td {
	text-align: left;
	padding: .2em 1em;
	border: 1px solid var(--palette-accent);
}
td > img {
	width: 5em;
}

main {
	overflow: visible;
}

main img {
	max-width: 25em;
}
