section#gallery {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
}

section#gallery > a.picture {
	color: white;
	height: 15em;
	padding: 2em;
	flex: 1 0 50%;
	outline-offset: -5px;
	text-decoration: none;
	transition: .4s filter;
	background-size: cover;
	box-sizing: border-box;
	filter: grayscale(100%);
	text-shadow: 1px 1px 0 black;
	background-color: rgba(0,0,0,.6);
	border: 1px solid var(--palette-bg);
}

section#gallery > a.picture:hover {
	filter: grayscale(0%);
	border-color: var(--palette-accent);
	outline: 1px solid var(--palette-accent);
}

div#pages {
	clear: both;
	padding-top: 1em;
	text-align: center;
}

div#pages > a {
	border-radius: 1em;
	width: 1.5em;
	display: inline-block;
}

div#pages > a[disabled] {
	pointer-events: none;
	filter: grayscale(40%);
	color: var(--palette-bg);
	background-color: var(--palette-accent);
}

img#picture {
	margin: 0 auto;
	display: block;
	max-width: 100%;
	border-bottom: 10px solid var(--palette-accent);
}
img#picture + div {
	text-align: center;
}

div#metadata {
	padding: 0 3em;
}
