header {
	font-family: var(--font-cool), Helvetica, sans-serif;
	margin-bottom: 2em;
}

@media (max-width: 800px) {
	header > img:first-child {
		display: none;
	}
}

header > h1, header > h2 {
	margin: 0;
}
header > h1 {
	font-size: 3em;
	color: var(--palette-accent);
}
header > h1::selection, header > h1::-moz-selection {
	color: var(--palette-txt);
	background: var(--palette-accent);
}
header > img {
	margin-right: 1em;
	float: left;
}

div#load {
	opacity: 1;
}

@keyframes load {
	from {opacity: 1}
	to {opacity: 0}
}

div#load {
	animation: 1s load forwards;
	pointer-events: none;
}
