:root {
	--palette-bg: #181913;
	--palette-txt: white;
	--palette-accent: #54756D;

	--font-cool: "Beth Ellen";
	--font-boring: "Abhaya";
}

@font-face {
	font-family: "Beth Ellen";
	src: url("/css/font/beth-ellen/Beth-Ellen-2.0.otf");
}

@font-face {
	font-weight: normal;
	font-family: "Abhaya";
	src: url("/css/font/abhaya-libre/AbhayaLibre-Regular.ttf");
}
@font-face {
	font-weight: bold;
	font-family: "Abhaya";
	src: url("/css/font/abhaya-libre/AbhayaLibre-ExtraBold.ttf");
}

::selection, ::-moz-selection {
	background: var(--palette-txt);
	color: var(--palette-bg);
}
